<h1>{{title}}</h1>
<h2>Hola soy la pag del Index</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur corporis doloribus mollitia, modi pariatur quo aliquid, alias rerum tempora necessitatibus unde cupiditate magni molestiae ut tenetur quas! Optio, necessitatibus labore?</p>
